cloudpickle==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
gymnasium-notices==0.0.1 ; python_version >= "3.9" and python_version < "3.11"
gymnasium==0.27.1 ; python_version >= "3.9" and python_version < "3.11"
importlib-metadata==6.0.0 ; python_version >= "3.9" and python_version < "3.10"
jax-jumpy==0.2.0 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.24.2 ; python_version < "3.11" and python_version >= "3.9"
nvidia-cublas-cu11==11.10.3.66 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32" and platform_system == "Linux"
pandas==1.5.3 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.11"
pytz==2022.7.1 ; python_version >= "3.9" and python_version < "3.11"
setuptools==67.5.1 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32" and platform_system == "Linux"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
termcolor==2.2.0 ; python_version >= "3.9" and python_version < "3.11"
torch @ https://download.pytorch.org/whl/cpu/torch-1.13.1-cp310-none-macosx_11_0_arm64.whl ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "macos"
torch @ https://download.pytorch.org/whl/torch-1.13.1-cp310-cp310-manylinux2014_aarch64.whl ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "linux"
torch==1.13.1 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "3.11"
wheel==0.38.4 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32" and platform_system == "Linux"
zipp==3.15.0 ; python_version >= "3.9" and python_version < "3.10"
